%% -*- erlang -*-
{minimum_otp_vsn, "21.0"}.

{deps,
 [
  {sext, "1.8.0"},
  {rocksdb,"1.6.0"},
  {hut, "1.2.1"}
 ]}.

{profiles,
 [
  {test,
   [
    {deps, [ {proper, "1.3.0"}
           , {meck, "0.9.0"}]}
   ]},
  {docs,
   [
    {deps, [{edown, "0.8.1"}]},
    {edoc_opts,
     [{doclet, edown_doclet},
      {app_default, "http://www.erlang.org/doc/man"},
      {doc_path, []},
      {top_level_readme,
       {"./README.md", "https://github.com/aeternity/mnesia_rocksdb"}}]}]}
 ]}.
