%% -*- erlang -*-
{minimum_otp_vsn, "21.0"}.

{deps,
 [
  {sext, "1.8.0"},
  {rocksdb, {git, "https://gitlab.com/vans/erlang-rocksdb.git", {ref,"18add8e992a374771e6f1e97b1f50db6bf31a16f"}}},
  {hut, "1.3.0"}
 ]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{profiles,
 [
  {test,
   [
    {deps, [ {proper, "1.4.0"}
           , {meck, "0.9.2"}
           , {trace_runner, {git, "https://github.com/uwiger/trace_runner.git",
                             {ref, "2e56677"}}}
           ]}
   ]},
  {edown,
   %% Use as `rebar3 as edown do edoc`
   [
    {deps, [{edown, "0.8.4"}]},
    {edoc_opts,
     [{doclet, edown_doclet},
      {app_default, "http://www.erlang.org/doc/man"},
      {doc_path, []},
      {top_level_readme,
       {"./README.md", "https://github.com/aeternity/mnesia_rocksdb"}}]}]}
 ]}.

{ex_doc, [
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"readme">>},
     {source_url, <<"https://github.com/aeternity/mnesia_rocksdb">>}
]}.
